*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Add this last */
[hidden] {
	display: none !important;
}

/* Initial Modal */
.toggle-modal, .help, .toggle-modal-help {
	background-color: transparent;
	border-radius: 0;
	border: 0;
    position: absolute;
    top: 5%;
    right: 3%;
}

.help {
    font-size: 3rem;
}

/* Initial Modal - Span Colors */
.red {
    color: #BF1932;
}

.purple {
    color: #B163A3;
}

.green {
    color: #88B04B;
}

.blue {
    color: #92A8D1;
}

.yellow {
    color: #F0C05A;
}

.orange {
    color: #E2583E;
}



/* General Modal Design */
button:hover {
	cursor: pointer;
}

.modal, .modal-help {
	height: 100vh;
	width: 100vw;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	display: flex;

	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.modal, .modal-help {
	background-color: rgba(0, 0, 0, .8);

	height: 100vh;
	width: 100vw;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.modal-body, .modal-body-help {
	background-color: #fff;
    border-top-right-radius: 2rem;
	font-size: 2rem;
	font-weight: 300;
    margin-left: 5rem;
    padding: 3rem;
	text-align: center;

	height: 500px;
	width: 950px;

	position: relative;
	z-index: 101;
}



/* Internal Modal Content Design */
.modal-content, .modal-content-help {
    align-items: flex-start;
	display: flex;
	justify-content: center;
}

.modal-text, .modal-text-help {
    text-align: left;
    margin: 5rem 2rem 0 3rem;
}

hr {
    border-color: black;
    border-top: 0;
    margin: 2rem 0;
}

.date, .date-help {
    font-weight: lighter;
    text-align: center;
}

.description-1, .description-2, .description-1-help, .description-2-help {
    font-size: 1.4rem;
}

.description-2, .description-2-help {
    margin-top: 2rem;
}

.image {
    margin-top: .6rem;;
}