/* GENERAL */
* {
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
}
body {
    font-family: 'Inter var', sans-serif;
}
h1 {
    font-size: 6.5rem;
    font-weight: 500;
    margin: 5rem 0 0 17rem;
}
h3 {
    font-size: 2.25rem;
    font-weight: 300;
    margin: .75rem 0 0 17rem;
}
main {
    display: flex;
}


/* BIRTHDAY INPUT */
input {
    border: .5px solid black;
    border-radius: 0;
    font-size: 1.2rem;
    height: 1.98rem;
    margin-top: 1.5rem;
    padding: .5rem;
    width: 12rem;
}
.bday-input button {
    background-color: black;
    border: none;
    border-top-right-radius: .5rem;
    color: white;
    font-size: 1rem;
    height: 3.075rem;
    margin-top: 1.5rem;
    width: 4rem;
}
.bday-input button:hover {
    background-color: #3E3E3E;
}
.bday-input {
    display: flex;
    margin-left: 17rem;
}
.birthday h3 {
    font-weight: 500;
    float: left;
}
.birthday {
    display: flex;
    flex-direction: column;
    margin-top: 9rem;
}



/* CAROUSEL */
.carousel {
    margin-left: 18rem;
    width: 30%;
    overflow: hidden;
}
.carousel-slide {
    display: flex;
    width: 100%;
}
.carousel i {
    position: absolute;
    top: 57%;
    z-index: 10;
    font-size: 5rem;
    color: black;
    cursor: pointer;
}
#prev-button {
    left: 55%;
}
#next-button {
    right: 7%;
}

.carousel-btn {
    margin: 0 10px;
    min-height: 500px;
    min-width: 400px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}


/* CAROUSEL IMAGES / BUTTONS */
.Ari {
    background-image: url('../carousel/5.png');
}

.Lib {
    background-image: url('../carousel/6.png');
}

.Cap {
    background-image: url('../carousel/7.png');
}

.Gem {
    background-image: url('../carousel/8.png');
}

.Aqu {
    background-image: url('../carousel/9.png');
}

.Sag {
    background-image: url('../carousel/10.png');
}

.Vir {
    background-image: url('../carousel/11.png');
}

.Can {
    background-image: url('../carousel/12.png');
}

.Tau {
    background-image: url('../carousel/1.png');
}

.Leo {
    background-image: url('../carousel/2.png');
}

.Pis {
    background-image: url('../carousel/3.png');
}

.Sco {
    background-image: url('../carousel/4.png');
}


/* SIDE RECTANGLES */
.rect {
    height: 67px;
    left: 0;
    position: absolute;
    width: 100px;
    z-index: 10;
}
.true-red {
    background-color: #BF1932;
    top: 0rem;
}
.honeysuckle {
    background-color: #D94F70;
    top: 4.2rem;
}
.sand-dollar {
    background-color: #DECDBE;
    top: 8.4rem;
}
.mimosa {
    background-color: #F0C05A;
    top: 12.5rem;
}
.serenity {
    background-color: #92A8D1;
    top: 16.7rem;
}
.tigerlily {
    background-color: #E2583E;
    top: 20.8rem;
}
.marsala {
    background-color: #955251;
    top: 25rem;
}
.radient-orchid {
    background-color: #B163A3;
    top: 29.2rem;
}
.greenery {
    background-color: #88B04B;
    top: 33.2rem;
}
.tangerine-tango {
    background-color: #DD4124;
    top: 37.2rem;
}
.ultra-violet {
    background-color: #5F4B8B;
    top: 41.2rem;
}
.chili-pepper {
    background-color: #9B1B30;
    top: 45.3rem;
}